#searchedDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #c5c6e0;
  padding: 20px;
}

#myCard {
  width: 25vw;
  margin: 5px;
}

a {
  text-decoration: none;
}
