#modalHeader {
  background-color: #f5f7ba;
}
#modalBody {
  background-color: #f5f7ba;
}
#modalFooter {
  background-color: #f5f7ba;
}

#modalbtn {
  width: 100px;
  align-self: center;
}
