#navItems {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  :hover {
    text-decoration: dashed;
    color: #ff714f;
  }
}
.MainLogo {
  width: 70px;
  height: 70px;
}
@media (max-width: 1000px) {
  #navItems {
    display: flex;
    align-items: center;
  }
  .MainLogo {
    width: 70px;
    height: 70px;
  }
}
